*{
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
   
    
}

h1{
    background-color: #081b31;
    color: white;
    text-align: center;
    font-size:60px;
    line-height: 5rem;  
}

.CHOICE{
 height: 165px;
 width: 165px;
 border-radius: 50%;
 justify-items: center;
 justify-content: center;
 display: flex;
 align-items: center;


}

.CHOICE:hover{
    background-color: #00ffe5;
    cursor: pointer;   
}

#f{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    justify-items: center;
    justify-content: center;
    display: flex;
    align-items: center;  
}
#f:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.CHOICES{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
    border-radius: 3rem;
    font-size: small;
    align-items: center;
   
}

.SCORE-BOARD{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;


}

#W,#y{
    font-size: 4rem;
}

.SCORE{
    display:inline;
    font-style: bold;
    font-size: 50px;
}
#msg{
   background-color: #081b31;
   color: aliceblue;
   display: inline;
   font-size: 2rem;
   margin-top: 5rem;
   padding: 1rem;
   border-radius:1.1rem ;

}

.msg-container{
    margin-top: 50PX;
}
